/**
 * General styles.
 */

body {
	background: url("../graphics/background.png") repeat;
	color: #a99877;
	font-family: "Source Sans Pro", Arial, sans-serif;
	font-size: 14px;
}

img {
	height: auto;
	vertical-align: top;
	width: 100%;
}

a {
	color: $primary-link-color;
	text-decoration: none;

	&:hover {
		color: $primary-link-hover-color;
	}
}

/* -- Page header ---------------------------------------------------------------- */

.page-header {
	position: relative;
	height: 400px;
	overflow: hidden;
}

.header-video {
	position: absolute;
	height: 400px;
	left: 50%;
	top: -100px;

	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

/* -- Pager / Pagination --------------------------------------------------------- */

.pager {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;

	li {
		background-color: #25262a;
		border-radius: $default-border-radius;
		display: inline-block;
		margin-right: 4px;

		a {
			color: $secondary-link-color;
			display: block;
			padding: 5px 12px;

			&:hover {
				color: $secondary-link-hover-color;
			}
		}

		&.pager-current {
			color: $secondary-link-hover-color;
			background-color: #25262a;
			border-radius: $default-border-radius;
			padding: 5px 12px;
		}
	}	
}

/* -- Content-type: News --------------------------------------------------------- */

.news-item {
	margin-bottom: 20px;
	padding-bottom: 20px;

	@include divider;

	// Teaser
	&.teaser {
		@include outer-container;

		.field-news-image {
			@include span-columns(4);

			img {
				@include thumbnail;
			}
		}

		.title h2 {
			font-size: 24px;
			font-weight: 400;
			margin: 0 0 5px;

			a {
				color: #f3e6d0;

				&:hover {
					color: #ffffff;
				}
			}
		}

		.post-date {
			color: #745442;
			font-size: 16px;
			font-weight: 400;
		}

		.content {
			@include span-columns(8);
		}
	}

	// Full content
	.full-content {

	}
}