.page-media {
	section {
		padding-bottom: 20px;
		margin-bottom: 20px;

		@include outer-container;

		> h2 {	
			font-family: Exocet;
			font-size: 28px;

			@include divider;
		}
	}

	.screenshot-item, 
	.fanart-item {
		@include span-columns(3);
		
		h2 {
			color: #f3e6d0;
			font-size: 24px;
			font-weight: 500;
			margin: 8px 0 0;
		}

		img {
			@include thumbnail();
		}

		.post-date {
			color: #745442;
		}
	}
}