.page-media {

	.main-content {
		
		>h2 {
			@include divider;	
		}
	
		.media {
			@include outer-container;

			padding: 0;
			.owl-carousel {
				display: block;
			}

			.teaser {

				margin-right: 10px;

				a {
					text-decoration: none;
				}

				h2 {
					font-size: 20px;
					margin: 5px 0;
				}

				img {
					@include thumbnail;
				}

				.post-date {
					color: #745442;
					font-size: 16px;
					font-weight: 400;
				}

				&:hover {

					h2 {
						color: $secondary-link-hover-color;
					}
				}
			}
		}
	}	
}