/**
 * Diablo theme mixins.
 */

/**
 * Mixin for images that should be displayed as thumbnails.
 */
@mixin thumbnail() {
	border: 1px solid #524a39;
	border-radius: 3px;

	@include transition (border-color 0.2s linear);

	&:hover {
		border-color: #745442;
	}
}

/**
 * Divider.
 * 
 * Creates a sweet divider at the bottom of the element as a border
 * with a shadow to give it those dual horizontal lines.
 */
@mixin divider() {
	border-bottom: 1px solid $divider-top-color;
	box-shadow: 0 1px 0 $divider-bottom-color;
}

/**
 * Links.
 *
 * Helps with styling of various links across the theme.
 */

// Primary links.
@mixin primary-link() {
	color: $primary-link-color;

	&:hover {
		color: $primary-link-hover-color;
	}
}

// Secondary links.
@mixin secondary-link() {
	color: $secondary-link-color;

	&:hover {
		color: $secondary-link-hover-color;
	}
}