/**
 * Frontpage slider.
 */
.frontpage-slider {

	.front-slide-item {

		.field-slide-img img {
			height: auto;
			width: 100%;
			vertical-align: top;
		}

		.meta {
			color: #ffffff;
			margin: 0 auto;
			max-width: 68em;
			height: 0;

			.title {
				font-family: Exocet, sans-serif;
				font-size: 30px;
				position: absolute;
				bottom: 20px;

				text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
			}

			.text {
				position: absolute;
				bottom: 20px;
			}
		}
	}

	.owl-controls {
		margin: 0 auto;
		max-width: 68em;
		position: relative;

		.owl-buttons {
			position: absolute;
			bottom: 50%;
			width: 100%;

			.owl-prev,
			.owl-next {
				background-color: rgba(0, 0, 0, 0.5);
				border-radius: 4px;
				color: #ffffff;
				cursor: hand;
				padding: 10px 15px;
				position: relative;
			}

			.owl-prev {
				float: left;
				left: 20px;
			}

			.owl-next {
				float: right;
				right: 20px;
			}
		}
	}
}