/**
 * Frontpage slider.
 */
.frontpage-slider {

	.front-slide-item {
		.title {

		}

		.field-slide-img img {
			height: auto;
			width: 100%;
		}

		.meta {
			color: #ffffff;
			position: absolute;
			bottom: 20px;
		}
	}

	.owl-controls {
		position: absolute;
		bottom: 50%;
	}
}