@import "../assets/neat/neat-helpers";

// -- Neat overrides -----m-------------------------------------- //

// $grid-columns: 12;
// $column: golden-ratio(16px, 3);
// $gutter: golden-ratio(16px, 1);
$max-width: em(1200);

// $visual-grid : true;
// $visual-grid-color: #e0eef7;

// -- Theme variables ------------------------------------------- //

$base-font-size: 14px;
$line-height: $base-font-size * 1.5;

// -- Border radius

$default-border-radius: 3px;

// -- Links

// Primary
$primary-link-color: #af4f19;
$primary-link-hover-color: #da5b13;

// Secondary
$secondary-link-color: #f3e6d0;
$secondary-link-hover-color: #ffffff;

// -- Divider

$divider-top-color: #131316;
$divider-bottom-color: #2a2a2e;