/**
 * Import external libraries.
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * Import sass files.
 */
/**
 * Frontpage slider.
 */
.frontpage-slider .front-slide-item .field-slide-img img {
  height: auto;
  width: 100%; }
.frontpage-slider .owl-controls {
  position: absolute;
  bottom: 50%; }
