/**
 * Import external libraries.
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * Import sass files.
 */
/**
 * Diablo theme mixins.
 */
/**
 * Mixin for images that should be displayed as thumbnails.
 */
/**
 * Divider.
 * 
 * Creates a sweet divider at the bottom of the element as a border
 * with a shadow to give it those dual horizontal lines.
 */
/**
 * Links.
 *
 * Helps with styling of various links across the theme.
 */
/**
 * General styles.
 */
body {
  background: url("../graphics/background.png") repeat;
  color: #a99877;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px; }

img {
  height: auto;
  vertical-align: top;
  width: 100%; }

a {
  text-decoration: none;
  color: #af4f19; }
  a:hover {
    color: #da5b13; }

/* -- Page header ---------------------------------------------------------------- */
.page-logo {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  .page-logo:after {
    content: "";
    display: table;
    clear: both; }
  .page-logo img {
    position: absolute;
    top: 200px;
    margin-top: -128px;
    width: 300px;
    z-index: 2; }

.page-header {
  position: relative;
  height: 400px;
  overflow: hidden; }

.header-video {
  position: absolute;
  height: 400px;
  left: 50%;
  top: -100px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

/* -- Pager / Pagination --------------------------------------------------------- */
.pager {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center; }
  .pager li {
    background-color: #25262a;
    border-radius: 3px;
    display: inline-block;
    margin-right: 4px; }
    .pager li a {
      color: #f3e6d0;
      display: block;
      padding: 5px 12px; }
      .pager li a:hover {
        color: white; }
    .pager li.pager-current {
      color: white;
      background-color: #25262a;
      border-radius: 3px;
      padding: 5px 12px; }

/* -- Content-type: News --------------------------------------------------------- */
.front .news-item {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #131316;
  box-shadow: 0 1px 0 #2a2a2e; }

.news-item.mini-teaser {
  border-bottom: 1px solid #3b3632;
  padding: 10px 5px; }
  .news-item.mini-teaser:after {
    content: "";
    display: table;
    clear: both; }
  .news-item.mini-teaser:hover {
    background-color: #212225; }
  .news-item.mini-teaser .title,
  .news-item.mini-teaser .post-date {
    margin-left: 110px; }
  .news-item.mini-teaser .title h2 {
    font-size: 15px;
    font-weight: 300;
    margin: 0; }
  .news-item.mini-teaser .title a {
    color: #f3e6d0; }
    .news-item.mini-teaser .title a:hover {
      color: white; }
  .news-item.mini-teaser .field-news-image {
    float: left;
    width: 100px; }
    .news-item.mini-teaser .field-news-image img {
      border: 1px solid #524a39;
      border-radius: 3px;
      -webkit-transition: border-color 0.2s linear;
      -moz-transition: border-color 0.2s linear;
      transition: border-color 0.2s linear; }
      .news-item.mini-teaser .field-news-image img:hover {
        border-color: #745442; }
  .news-item.mini-teaser .post-date {
    color: #745442;
    font-size: 16px;
    font-weight: 400; }
.news-item.teaser {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  .news-item.teaser:after {
    content: "";
    display: table;
    clear: both; }
  .news-item.teaser .field-news-image {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .news-item.teaser .field-news-image:last-child {
      margin-right: 0; }
    .news-item.teaser .field-news-image img {
      border: 1px solid #524a39;
      border-radius: 3px;
      -webkit-transition: border-color 0.2s linear;
      -moz-transition: border-color 0.2s linear;
      transition: border-color 0.2s linear; }
      .news-item.teaser .field-news-image img:hover {
        border-color: #745442; }
  .news-item.teaser .title h2 {
    font-size: 22px;
    font-weight: 400;
    margin: 0; }
    .news-item.teaser .title h2 a {
      color: #f3e6d0; }
      .news-item.teaser .title h2 a:hover {
        color: #ffffff; }
  .news-item.teaser .post-date {
    color: #745442;
    font-size: 16px;
    font-weight: 400; }
  .news-item.teaser .content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .news-item.teaser .content:last-child {
      margin-right: 0; }

/**
 * Theme layout styles.
 */
.container {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.main-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .main-content:last-child {
    margin-right: 0; }
  .main-content.full {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .main-content.full:last-child {
      margin-right: 0; }

.sidebar-right {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .sidebar-right:last-child {
    margin-right: 0; }
  .sidebar-right section {
    background-color: #25262a;
    border-radius: 4px;
    padding: 15px; }
    .sidebar-right section > h2 {
      border-bottom: 2px solid #3b3632;
      color: #f3e6d0;
      font-family: Exocet, sans-serif;
      font-size: 22px;
      margin: 0;
      padding: 0 0 5px; }
    .sidebar-right section .title h2 {
      color: #f3e6d0;
      font-weight: 400;
      margin: 5px 0; }
    .sidebar-right section.fanart .field-media-fanart {
      border: 1px solid #524a39;
      border-radius: 3px;
      -webkit-transition: border-color 0.2s linear;
      -moz-transition: border-color 0.2s linear;
      transition: border-color 0.2s linear; }
      .sidebar-right section.fanart .field-media-fanart:hover {
        border-color: #745442; }

#primary-navigation {
  background-color: #17181a;
  border-bottom: 1px solid #222327;
  border-top: 1px solid #222327;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  height: 68px;
  margin-bottom: 30px; }
  #primary-navigation ul {
    max-width: 75em;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    padding: 0;
    list-style: none; }
    #primary-navigation ul:after {
      content: "";
      display: table;
      clear: both; }
    #primary-navigation ul li {
      margin-right: 40px;
      display: inline-block; }
      #primary-navigation ul li a {
        color: #b6b9be;
        display: block;
        font-size: 22px;
        font-weight: 600;
        line-height: 68px;
        text-transform: uppercase; }
        #primary-navigation ul li a:hover {
          color: #ffffff; }
        #primary-navigation ul li a.active {
          color: #ffffff; }

/**
 * Frontpage slider.
 */
.frontpage-slider .front-slide-item .field-slide-img img {
  height: auto;
  width: 100%;
  vertical-align: top; }
.frontpage-slider .front-slide-item .meta {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  color: #ffffff;
  padding: 15px;
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px; }
  .frontpage-slider .front-slide-item .meta .title h2 {
    font-family: Exocet, sans-serif;
    font-size: 36px;
    margin: 0;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8); }
  .frontpage-slider .front-slide-item .meta .body p {
    font-size: 18px;
    margin: 0; }
.frontpage-slider .owl-controls {
  position: absolute;
  margin-top: -19px;
  top: 50%;
  width: 100%; }
  .frontpage-slider .owl-controls .owl-buttons {
    bottom: 10%;
    position: relative; }
    .frontpage-slider .owl-controls .owl-buttons .owl-prev,
    .frontpage-slider .owl-controls .owl-buttons .owl-next {
      position: relative;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 4px;
      color: #ffffff;
      cursor: hand;
      padding: 10px 15px; }
    .frontpage-slider .owl-controls .owl-buttons .owl-prev {
      float: left;
      left: 10%; }
    .frontpage-slider .owl-controls .owl-buttons .owl-next {
      float: right;
      right: 10%; }

.page-media section {
  padding-bottom: 20px;
  margin-bottom: 20px;
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  .page-media section:after {
    content: "";
    display: table;
    clear: both; }
  .page-media section > h2 {
    font-family: Exocet;
    font-size: 28px;
    border-bottom: 1px solid #131316;
    box-shadow: 0 1px 0 #2a2a2e; }
.page-media .screenshot-item,
.page-media .fanart-item {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .page-media .screenshot-item:last-child,
  .page-media .fanart-item:last-child {
    margin-right: 0; }
  .page-media .screenshot-item h2,
  .page-media .fanart-item h2 {
    color: #f3e6d0;
    font-size: 24px;
    font-weight: 500;
    margin: 8px 0 0; }
  .page-media .screenshot-item img,
  .page-media .fanart-item img {
    border: 1px solid #524a39;
    border-radius: 3px;
    -webkit-transition: border-color 0.2s linear;
    -moz-transition: border-color 0.2s linear;
    transition: border-color 0.2s linear; }
    .page-media .screenshot-item img:hover,
    .page-media .fanart-item img:hover {
      border-color: #745442; }
  .page-media .screenshot-item .post-date,
  .page-media .fanart-item .post-date {
    color: #745442; }
